.box {
  height: 120px;
  width: 120px;
}

button {
  border: 5px teal;
  margin-bottom: 10px;
  width: 80px;
  height: 35px;
  background-color: #4f5b87;
  color: peachpuff;
  font-family: monospace;
}

img {
  margin-bottom: 10px;
}
